<h1>Editing store item</h1>

<%= render "form", store_item: @store_item %>

<br>

<div>
  <%= link_to "Show this store item", @store_item %> |
  <%= link_to "Back to store items", store_items_path %>
</div>
