<h1>Users</h1>
 
<table>
  <thead>
	<tr>
      <th>Email</th>
      <th>Active</th>
      <th>Actions</th>
	</tr>
  </thead>
 
  <tbody>
	<% @users.each do |user| %>
  	<tr>
        <td><%= user.email %></td>
        <td><%= user.active? ? 'Yes' : 'No' %></td>
    	<td>
      	<%= link_to 'Edit', edit_user_path(user) %>
      	<%= link_to 'Deactivate', deactivate_user_path(user), method: :patch, data: { confirm: 'Are you sure?' } %>
    	</td>
  	</tr>
	<% end %>
  </tbody>
</table>
